$main-color: #2D2D2D;



body,html {
  font-family: "Merriweather", sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background: white;
}

#header {
  height: 45px;
  width: 100vw;
  box-shadow: 0px 2px 5px rgba($main-color,0.10);
  position: fixed;
  top: 0px;
  left: 0px;
}
.card {
  width: 100%;
}
#content {
  top: 45px;
  width: 100%;

  height: calc(100% - 45px);
  max-height: calc(100% - 45px);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  position: absolute;
}

#content .card-front, #content .card-back {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: 30px;
  transition: all 0.2s ease-out;
  width: 100%;
  box-sizing: border-box;
}
#content .card .active {
  visibility: visible;
  opacity: 1;

}

#meta:before {
  content: '';
  width: 100px;
  height: 1px;
  background: rgba($main-color,.25);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);

}
#meta {
  margin-top: 15px;
  font-family: sans-serif;
  font-size: 14px;
  color: rgba($main-color,.5);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.card p,
.card ol,
.card ul,
.card pre,
.card blockquote,
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin: 0;
  padding: 0;
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.card ol,
.card ul {
  padding-left: 0em;
}
.card ol > li,
.card ul > li {
  list-style-type: none;
}
.card ul > li::before {
  content: '\25CF';
}
.card li::before {
  display: inline-block;
  margin-right: 0.3em;
  text-align: right;
  white-space: nowrap;
  width: 1.2em;
}
.card li:not(.ql-direction-rtl)::before {
  margin-left: -1.5em;
}
.card ol li,
.card ul li {
  padding-left: 1.5em;
}
.card ol li {
  counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
  counter-increment: list-num;
}
.card ol li:before {
  content: counter(list-num, decimal) '. ';
}
.card ol li.ql-indent-1 {
  counter-increment: list-1;
}
.card ol li.ql-indent-1:before {
  content: counter(list-1, lower-alpha) '. ';
}
.card ol li.ql-indent-1 {
  counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.card ol li.ql-indent-2 {
  counter-increment: list-2;
}
.card ol li.ql-indent-2:before {
  content: counter(list-2, lower-roman) '. ';
}
.card ol li.ql-indent-2 {
  counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9;
}
.card ol li.ql-indent-3 {
  counter-increment: list-3;
}
.card ol li.ql-indent-3:before {
  content: counter(list-3, decimal) '. ';
}
.card ol li.ql-indent-3 {
  counter-reset: list-4 list-5 list-6 list-7 list-8 list-9;
}
.card ol li.ql-indent-4 {
  counter-increment: list-4;
}
.card ol li.ql-indent-4:before {
  content: counter(list-4, lower-alpha) '. ';
}
.card ol li.ql-indent-4 {
  counter-reset: list-5 list-6 list-7 list-8 list-9;
}
.card ol li.ql-indent-5 {
  counter-increment: list-5;
}
.card ol li.ql-indent-5:before {
  content: counter(list-5, lower-roman) '. ';
}
.card ol li.ql-indent-5 {
  counter-reset: list-6 list-7 list-8 list-9;
}
.card ol li.ql-indent-6 {
  counter-increment: list-6;
}
.card ol li.ql-indent-6:before {
  content: counter(list-6, decimal) '. ';
}
.card ol li.ql-indent-6 {
  counter-reset: list-7 list-8 list-9;
}
.card ol li.ql-indent-7 {
  counter-increment: list-7;
}
.card ol li.ql-indent-7:before {
  content: counter(list-7, lower-alpha) '. ';
}
.card ol li.ql-indent-7 {
  counter-reset: list-8 list-9;
}
.card ol li.ql-indent-8 {
  counter-increment: list-8;
}
.card ol li.ql-indent-8:before {
  content: counter(list-8, lower-roman) '. ';
}
.card ol li.ql-indent-8 {
  counter-reset: list-9;
}
.card ol li.ql-indent-9 {
  counter-increment: list-9;
}
.card ol li.ql-indent-9:before {
  content: counter(list-9, decimal) '. ';
}
.card .ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 3em;
}
.card li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 4.5em;
}
.card .ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 3em;
}
.card li.ql-indent-1.ql-direction-rtl.ql-align-right {
  padding-right: 4.5em;
}
.card .ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 6em;
}
.card li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 7.5em;
}
.card .ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 6em;
}
.card li.ql-indent-2.ql-direction-rtl.ql-align-right {
  padding-right: 7.5em;
}
.card .ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 9em;
}
.card li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 10.5em;
}
.card .ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 9em;
}
.card li.ql-indent-3.ql-direction-rtl.ql-align-right {
  padding-right: 10.5em;
}
.card .ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 12em;
}
.card li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 13.5em;
}
.card .ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 12em;
}
.card li.ql-indent-4.ql-direction-rtl.ql-align-right {
  padding-right: 13.5em;
}
.card .ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 15em;
}
.card li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 16.5em;
}
.card .ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 15em;
}
.card li.ql-indent-5.ql-direction-rtl.ql-align-right {
  padding-right: 16.5em;
}
.card .ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 18em;
}
.card li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 19.5em;
}
.card .ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 18em;
}
.card li.ql-indent-6.ql-direction-rtl.ql-align-right {
  padding-right: 19.5em;
}
.card .ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 21em;
}
.card li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 22.5em;
}
.card .ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 21em;
}
.card li.ql-indent-7.ql-direction-rtl.ql-align-right {
  padding-right: 22.5em;
}
.card .ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 24em;
}
.card li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 25.5em;
}
.card .ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 24em;
}
.card li.ql-indent-8.ql-direction-rtl.ql-align-right {
  padding-right: 25.5em;
}
.card .ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 27em;
}
.card li.ql-indent-9:not(.ql-direction-rtl) {
  padding-left: 28.5em;
}
.card .ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 27em;
}
.card li.ql-indent-9.ql-direction-rtl.ql-align-right {
  padding-right: 28.5em;
}
.card .ql-video {
  display: block;
  max-width: 100%;
}
.card .ql-video.ql-align-center {
  margin: 0 auto;
}
.card .ql-video.ql-align-right {
  margin: 0 0 0 auto;
}
.card .ql-bg-black {
  background-color: #000;
}
.card .ql-bg-red {
  background-color: #e60000;
}
.card .ql-bg-orange {
  background-color: #f90;
}
.card .ql-bg-yellow {
  background-color: #ff0;
}
.card .ql-bg-green {
  background-color: #008a00;
}
.card .ql-bg-blue {
  background-color: #06c;
}
.card .ql-bg-purple {
  background-color: #93f;
}
.card .ql-color-white {
  color: #fff;
}
.card .ql-color-red {
  color: #e60000;
}
.card .ql-color-orange {
  color: #f90;
}
.card .ql-color-yellow {
  color: #ff0;
}
.card .ql-color-green {
  color: #008a00;
}
.card .ql-color-blue {
  color: #06c;
}
.card .ql-color-purple {
  color: #93f;
}