* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #2D2D2D;
  font-family: 'Source Sans Pro', sans-serif;
  background: #FAFAFA; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h3 {
  color: rgba(45, 45, 45, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px; }

h2 {
  margin-top: 0;
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
  color: #2D2D2D;
  background: white;
  position: relative;
  width: 100%;
  display: flex; }

h2:after {
  content: '';
  background: rgba(45, 45, 45, 0.15);
  height: 1px;
  flex: 1;
  margin-top: 12px;
  margin-left: 30px; }

h3 {
  font-size: 16px;
  color: #2D2D2D; }

/* Wraps the whole webapp */
#container {
  height: 100%;
  display: flex; }

#categories {
  margin-bottom: 30px; }

#sidebar, #secondbar, #menu-toggle {
  transition: all 0.5s; }

#menu-toggle {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 10px;
  left: 10px; }

/* Sidebar on the left side of the screen */
#sidebar {
  padding: 20px;
  width: 230px;
  height: 100%;
  overflow-y: scroll;
  background: #FAFAFA;
  border-right: 1px solid rgba(45, 45, 45, 0.15); }
  #sidebar #categories-list {
    margin-bottom: 15px; }
  #sidebar h3 {
    margin-top: 0px; }
  #sidebar ul {
    padding-left: 0;
    margin-bottom: 5px;
    list-style-type: none;
    height: auto; }
    #sidebar ul li {
      cursor: pointer;
      line-height: 27px;
      white-space: nowrap;
      width: 100%;
      position: relative;
      overflow: hidden; }
      #sidebar ul li .title {
        overflow: hidden;
        text-overflow: ellipsis;
        padding-right: 30px;
        white-space: nowrap; }
      #sidebar ul li .title.active {
        font-weight: 600;
        color: #14457C; }
      #sidebar ul li span.pill {
        position: absolute;
        right: 0px;
        background: rgba(150, 150, 150, 0.15);
        height: 18px;
        width: 30px;
        text-align: center;
        line-height: 18px;
        border-radius: 20px;
        font-weight: 700;
        font-size: 12px;
        top: 5px;
        color: #969696;
        display: block; }
      #sidebar ul li ul {
        padding-left: 15px;
        list-style-type: none; }
    #sidebar ul li.active {
      font-weight: 600; }
    #sidebar ul li button {
      display: none;
      position: absolute;
      right: 0px;
      top: 7px; }
  #sidebar .category-wrapper:hover {
    color: black;
    position: relative; }
    #sidebar .category-wrapper:hover button {
      display: inline-block; }
    #sidebar .category-wrapper:hover span.pill {
      display: none; }

#secondbar {
  width: 230px;
  height: 100%;
  overflow-y: scroll;
  left: 230px;
  background: white;
  border-right: 1px solid #E0E0E0; }
  #secondbar .fixed-button {
    width: 230px;
    background: white;
    position: fixed;
    bottom: 0px;
    border: 0px;
    border-top: 1px solid #E0E0E0;
    border-right: 1px solid #e0e0e0;
    box-shadow: none; }
    #secondbar .fixed-button i {
      margin-right: 5px;
      line-height: 10px; }

#cards {
  position: relative;
  height: 100%;
  max-width: 730px; }

#category {
  display: none; }

#cards-loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  margin: 0px;
  transform: translate(-50%, -50%); }

#cards-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0px;
  padding-bottom: 30px; }
  #cards-list li {
    border-bottom: 1px solid #E0E0E0;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
    line-height: 27px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; }
  #cards-list li.active {
    font-weight: 600;
    color: #14457C;
    background: rgba(20, 69, 124, 0.05);
    border-left: 2px solid #14457C;
    padding-left: 18px; }
  #cards-list li.empty-state {
    cursor: default;
    opacity: 0.5; }

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 10pt;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer; }

button.transparent {
  background: transparent;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px; }

button.button_main {
  border-radius: 50px;
  border: 1px solid rgba(45, 45, 45, 0.15);
  background: white;
  color: rgba(45, 45, 45, 0.5);
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 600;
  transition: all 200ms ease-out; }

button.button_main:hover, button.button_main:focus {
  box-shadow: 0 4px 10px rgba(45, 45, 45, 0.1);
  color: #2D2D2D;
  outline: none; }

button.red {
  color: #E98686; }

button.red:hover {
  color: #BE4040; }

/* Main Container on the right side */
#main {
  flex: 1;
  max-height: 100%;
  overflow-y: scroll;
  height: 100%; }

#card, #category {
  padding: 30px; }
  #card h3, #category h3 {
    margin-bottom: 20px; }
  #card input, #card select, #category input, #category select {
    display: block; }
  #card .form-control, #category .form-control {
    float: left;
    height: auto; }
    #card .form-control label, #category .form-control label {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #2D2D2D;
      font-weight: 600; }
    #card .form-control input, #card .form-control select, #category .form-control input, #category .form-control select {
      height: 40px;
      padding-left: 17px;
      padding-right: 17px;
      margin-right: 30px;
      margin-top: 15px;
      min-width: 300px;
      font-family: 'Source Sans Pro', sans-serif;
      border-radius: 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background: white; }
    #card .form-control input:focus, #card .form-control select:focus, #category .form-control input:focus, #category .form-control select:focus {
      outline: none;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
      border-radius: 3px; }
    #card .form-control select, #category .form-control select {
      margin-right: 0px; }
  #card section, #category section {
    display: inline-block;
    width: 100%; }
  #card #card-controls, #card #category-controls, #category #card-controls, #category #category-controls {
    margin-top: 20px; }
  #card .ql-toolbar.ql-snow, #category .ql-toolbar.ql-snow {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none; }
  #card .ql-container.ql-snow, #category .ql-container.ql-snow {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  #card .ql-container.ql-snow:focus, #category .ql-container.ql-snow:focus {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); }

#back-editor, #front-editor {
  height: 300px;
  display: block;
  margin-bottom: 0px; }

.ql-toolbar, .ql-container {
  background: white; }

#back, #front {
  max-width: 630px; }

#back .ql-container .ql-editor, #front .ql-container .ql-editor {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.4;
  font-size: 16px; }
  #back .ql-container .ql-editor ul li, #back .ql-container .ql-editor ol li, #front .ql-container .ql-editor ul li, #front .ql-container .ql-editor ol li {
    padding-left: 0; }
  #back .ql-container .ql-editor ul > li, #front .ql-container .ql-editor ul > li {
    list-style-type: disc; }
  #back .ql-container .ql-editor ul > li::before, #front .ql-container .ql-editor ul > li::before {
    content: ''; }
  #back .ql-container .ql-editor li.ql-indent-1, #front .ql-container .ql-editor li.ql-indent-1 {
    margin-left: 1.5em;
    list-style-type: circle; }
  #back .ql-container .ql-editor li.ql-indent-2, #front .ql-container .ql-editor li.ql-indent-2 {
    margin-left: 3em;
    list-style-type: square; }

/* responsive styles */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 800px) {
  #sidebar {
    left: -230px;
    position: absolute;
    z-index: 100; }

  #secondbar {
    position: absolute;
    left: -230px;
    z-index: 100; }

  #sidebar.show {
    left: 0px; }

  #secondbar.show {
    left: 230px; }

  #menu-toggle {
    display: block; }

  #menu-toggle.show {
    left: 470px; }

  /* Styles */ }
/* Pure CSS Loading Animation */
.loading-dots {
  margin: 30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: loading-dots-fadein .5s linear forwards;
  -moz-animation: loading-dots-fadein .5s linear forwards;
  -o-animation: loading-dots-fadein .5s linear forwards;
  -ms-animation: loading-dots-fadein .5s linear forwards;
  animation: loading-dots-fadein .5s linear forwards; }

.loading-dots i {
  width: .5em;
  height: .5em;
  display: inline-block;
  vertical-align: middle;
  background: #e0e0e0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 .125em;
  -webkit-animation: loading-dots-middle-dots .5s linear infinite;
  -moz-animation: loading-dots-middle-dots .5s linear infinite;
  -o-animation: loading-dots-middle-dots .5s linear infinite;
  -ms-animation: loading-dots-middle-dots .5s linear infinite;
  animation: loading-dots-middle-dots .5s linear infinite; }

.loading-dots.dark-gray i {
  background: #707070; }

.loading-dots i:first-child {
  -webkit-animation: loading-dots-first-dot .5s infinite;
  -moz-animation: loading-dots-first-dot .5s linear infinite;
  -o-animation: loading-dots-first-dot .5s linear infinite;
  -ms-animation: loading-dots-first-dot .5s linear infinite;
  animation: loading-dots-first-dot .5s linear infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(-1em);
  -moz-transform: translate(-1em);
  -o-transform: translate(-1em);
  -ms-transform: translate(-1em);
  transform: translate(-1em); }

.loading-dots i:last-child {
  -webkit-animation: loading-dots-last-dot .5s linear infinite;
  -moz-animation: loading-dots-last-dot .5s linear infinite;
  -o-animation: loading-dots-last-dot .5s linear infinite;
  -ms-animation: loading-dots-last-dot .5s linear infinite;
  animation: loading-dots-last-dot .5s linear infinite; }

@-moz-keyframes loading-dots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@-webkit-keyframes loading-dots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@-o-keyframes loading-dots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@keyframes loading-dots-fadein {
  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@-moz-keyframes loading-dots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@-webkit-keyframes loading-dots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@-o-keyframes loading-dots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@keyframes loading-dots-first-dot {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em);
    opacity: 1;
    -ms-filter: none;
    filter: none; } }
@-moz-keyframes loading-dots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em); } }
@-webkit-keyframes loading-dots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em); } }
@-o-keyframes loading-dots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em); } }
@keyframes loading-dots-middle-dots {
  100% {
    -webkit-transform: translate(1em);
    -moz-transform: translate(1em);
    -o-transform: translate(1em);
    -ms-transform: translate(1em);
    transform: translate(1em); } }
@-moz-keyframes loading-dots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@-webkit-keyframes loading-dots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@-o-keyframes loading-dots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }
@keyframes loading-dots-last-dot {
  100% {
    -webkit-transform: translate(2em);
    -moz-transform: translate(2em);
    -o-transform: translate(2em);
    -ms-transform: translate(2em);
    transform: translate(2em);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); } }

/*# sourceMappingURL=style.css.map */
