* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #2D2D2D;
  font-family: 'Source Sans Pro', sans-serif; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3 {
  color: rgba(45, 45, 45, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px; }

h2 {
  margin-top: 16px; }

h3 {
  font-size: 16px;
  color: #2D2D2D; }

/* Helper classes to show / hide stuff */
.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in; }

.hide {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in; }

/* Wraps the whole webapp */
#container {
  height: 100%; }

#categories {
  margin-bottom: 30px; }

/* Sidebar on the left side of the screen */
#sidebar {
  padding: 30px 30px 30px;
  width: 300px;
  box-shadow: 4px 0 5px rgba(45, 45, 45, 0.1);
  position: fixed;
  height: 100%; }
  #sidebar ul {
    padding-left: 0;
    list-style-type: none;
    height: auto; }
    #sidebar ul li {
      cursor: pointer;
      line-height: 25px;
      min-height: 25px; }
      #sidebar ul li ul {
        padding-left: 20px;
        list-style-type: circle; }
    #sidebar ul li:hover {
      color: black;
      position: relative; }
      #sidebar ul li:hover button {
        display: inline-block; }
    #sidebar ul li button {
      display: none; }

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 10pt;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer; }

button.transparent {
  background: transparent;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px; }

button.button_main {
  border-radius: 50px;
  border: 1px solid #F1F1F1;
  background: white;
  color: rgba(45, 45, 45, 0.5);
  box-shadow: 0 4px 10px rgba(45, 45, 45, 0.1);
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 600; }

/* Main Container on the right side */
#main {
  position: relative;
  left: 330px;
  width: calc(100vw - 330px); }

#card, #category {
  top: 0;
  padding: 30px;
  position: absolute; }
  #card input, #card select, #category input, #category select {
    display: block; }
  #card .form-control, #category .form-control {
    float: left;
    height: auto;
    padding-bottom: 15px; }
    #card .form-control label, #category .form-control label {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #2D2D2D;
      font-weight: 600; }
    #card .form-control input, #card .form-control select, #category .form-control input, #category .form-control select {
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 15px;
      margin-top: 10px;
      min-width: 300px; }
  #card section, #category section {
    display: inline-block;
    width: 100%; }

#back-editor, #front-editor {
  height: 300px;
  display: block;
  margin-bottom: 30px; }

#back .ql-container, #front .ql-container {
  font-family: 'Merriweather', serif; }

/*# sourceMappingURL=style.css.map */
