$main-color: #2D2D2D;
$warning-color: #E98686;
$error-color: #BE4040;


* {
  box-sizing: border-box;
}

html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: $main-color;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3 {
  color: rgba($main-color, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
h2 {
  margin-top: 16px;
}
h3 {
  font-size: 16px;
  color: $main-color;
}

/* Helper classes to show / hide stuff */
.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in;
}
.hide {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
}


/* Wraps the whole webapp */
#container {
  height: 100%;
}

#categories {
  margin-bottom: 30px;
}

/* Sidebar on the left side of the screen */
#sidebar {
  padding: 30px 30px 30px;
  width: 300px;
  box-shadow: 4px 0 5px rgba($main-color,0.10);
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  ul {
    padding-left: 0;
    list-style-type: none;
    height: auto;

    li {
      cursor: pointer;
      line-height: 25px;
      min-height: 25px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      ul {
        padding-left: 20px;
        list-style-type: circle;
      }
    }
    li:hover {
      color: black;
      position: relative;
      button {
        display: inline-block;
      }
    }
    li button {
      display: none;
    }
  }
}

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 10pt;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
}
button.transparent {
  background: transparent;
  border: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 5px;
}

button.button_main {
  border-radius: 50px;
  border: 1px solid rgba($main-color, 0.15);
  background: white;
  color: rgba($main-color,0.5);
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 600;
  transition: all 200ms ease-out;
}
button.button_main:hover, button.button_main:focus {
  box-shadow: 0 4px 10px rgba($main-color,0.1);
  color: $main-color;
  outline: none;
}

button.red {
  color: $warning-color;
}
button.red:hover {
  color: $error-color;
}

/* Main Container on the right side */
#main {
  position: relative;
  left: 330px;
  width: calc(100vw - 330px);
}
#card, #category {
  top: 0;
  padding: 30px;
  position: absolute;

  input, select {
    display: block;
  }
  .form-control {
    float: left;
    height: auto;
    padding-bottom: 15px;

    label {
      text-transform: uppercase;
      letter-spacing: 1px;
      color: $main-color;
      font-weight: 600;
    }
    input, select {
      height: 30px;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: 15px;
      margin-top: 10px;
      min-width: 300px;
    }
  }
  section {
    display: inline-block;
    width: 100%;
  }
}

#back-editor, #front-editor {
  height: 300px;
  display: block;
  margin-bottom: 30px;
}

#back .ql-container, #front .ql-container {
  font-family: 'Merriweather', serif;
}

/* Pure CSS Loading Animation */

.loading-dots {
  margin: 30px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-animation: loading-dots-fadein .5s linear forwards;
  -moz-animation: loading-dots-fadein .5s linear forwards;
  -o-animation: loading-dots-fadein .5s linear forwards;
  -ms-animation: loading-dots-fadein .5s linear forwards;
  animation: loading-dots-fadein .5s linear forwards;
}
.loading-dots i {
  width: .5em;
  height: .5em;
  display: inline-block;
  vertical-align: middle;
  background: #e0e0e0;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 0 .125em;
  -webkit-animation: loading-dots-middle-dots .5s linear infinite;
  -moz-animation: loading-dots-middle-dots .5s linear infinite;
  -o-animation: loading-dots-middle-dots .5s linear infinite;
  -ms-animation: loading-dots-middle-dots .5s linear infinite;
  animation: loading-dots-middle-dots .5s linear infinite;
}
.loading-dots.dark-gray i {
  background: #707070;
}
.loading-dots i:first-child {
  -webkit-animation: loading-dots-first-dot .5s infinite;
  -moz-animation: loading-dots-first-dot .5s linear infinite;
  -o-animation: loading-dots-first-dot .5s linear infinite;
  -ms-animation: loading-dots-first-dot .5s linear infinite;
  animation: loading-dots-first-dot .5s linear infinite;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translate(-1em);
  -moz-transform: translate(-1em);
  -o-transform: translate(-1em);
  -ms-transform: translate(-1em);
  transform: translate(-1em);
}
.loading-dots i:last-child {
  -webkit-animation: loading-dots-last-dot .5s linear infinite;
  -moz-animation: loading-dots-last-dot .5s linear infinite;
  -o-animation: loading-dots-last-dot .5s linear infinite;
  -ms-animation: loading-dots-last-dot .5s linear infinite;
  animation: loading-dots-last-dot .5s linear infinite;
}


@-moz-keyframes loading-dots-fadein{100%{opacity:1;-ms-filter:none;filter:none}}
@-webkit-keyframes loading-dots-fadein{100%{opacity:1;-ms-filter:none;filter:none}}
@-o-keyframes loading-dots-fadein{100%{opacity:1;-ms-filter:none;filter:none}}
@keyframes loading-dots-fadein{100%{opacity:1;-ms-filter:none;filter:none}}

@-moz-keyframes loading-dots-first-dot{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em);opacity:1;-ms-filter:none;filter:none}}
@-webkit-keyframes loading-dots-first-dot{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em);opacity:1;-ms-filter:none;filter:none}}
@-o-keyframes loading-dots-first-dot{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em);opacity:1;-ms-filter:none;filter:none}}
@keyframes loading-dots-first-dot{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em);opacity:1;-ms-filter:none;filter:none}}


@-moz-keyframes loading-dots-middle-dots{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em)}}
@-webkit-keyframes loading-dots-middle-dots{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em)}}
@-o-keyframes loading-dots-middle-dots{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em)}}
@keyframes loading-dots-middle-dots{100%{-webkit-transform:translate(1em);-moz-transform:translate(1em);-o-transform:translate(1em);-ms-transform:translate(1em);transform:translate(1em)}}


@-moz-keyframes loading-dots-last-dot{100%{-webkit-transform:translate(2em);-moz-transform:translate(2em);-o-transform:translate(2em);-ms-transform:translate(2em);transform:translate(2em);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
@-webkit-keyframes loading-dots-last-dot{100%{-webkit-transform:translate(2em);-moz-transform:translate(2em);-o-transform:translate(2em);-ms-transform:translate(2em);transform:translate(2em);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
@-o-keyframes loading-dots-last-dot{100%{-webkit-transform:translate(2em);-moz-transform:translate(2em);-o-transform:translate(2em);-ms-transform:translate(2em);transform:translate(2em);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}
@keyframes loading-dots-last-dot{100%{-webkit-transform:translate(2em);-moz-transform:translate(2em);-o-transform:translate(2em);-ms-transform:translate(2em);transform:translate(2em);opacity:0;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter:alpha(opacity=0)}}