$main-color: #2D2D2D;
$sidebar-width: 500px;

* {
  box-sizing: border-box;
}

html,body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  color: $main-color;
  font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3 {
  color: rgba($main-color, 0.5);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

/* Helper classes to show / hide stuff */
.show {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-in;
}
.hide {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in;
}


/* Wraps the whole webapp */
#container {
  height: 100%;
}

/* Sidebar on the left side of the screen */
#sidebar {
  padding: 0px 60px 60px;
  width: 350px;
  box-shadow: 2px 0px 5px rgba($main-color,0.10);
  position: fixed;
  height: 100%;

  ul {
    padding-left: 20px;
  }
}

button {
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 10pt;
  font-family: 'Source Sans Pro', sans-serif;
}
button.transparent {
  background: transparent;
  border: 0px;
  padding: 5px 10px;
}
button.button_main {
  border-radius: 50px;
  border: 1px solid #F1F1F1;
  background: white;
  color: rgba($main-color,0.5);
  box-shadow: 0px 4px 10px rgba($main-color,0.1);
  letter-spacing: 2px;
  margin-right: 15px;
  font-weight: 600;
}

/* Main Container on the right side */
#main {
  position: relative;
  left: 350px;
  width: calc(100vw - 350px);
}
#card {

}

#back-editor, #front-editor {
  height: 300px;
  display: block;
  margin-bottom: 30px;
}

#back .ql-container, #front .ql-container {
  font-family: 'Merriweather', serif;
}

#card, #category {
  padding: 60px;
}