/** CSS FILE FOR KNUB.IO WEBAPP

  FOOTER

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-03-10

*/

.footer {
  width: 100%;
}

.footer_copyright, .footer_logo, .footer_links {
  width: 33.333333%;
  float: left;
}



