/** CSS FILE FOR KNUB.IO WEBAPP

  LOGIN

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-03-11

*/

.login_header {
  text-align: center;
  padding: 4.236em 0 2.618em;
}

.login {
  width: 320px;
  margin: 0 auto;
  text-align: center;

  p {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0.309em;
    font-family: $sans;
  }

  input {
    width: 100%;
    -webkit-apperance: none;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 1em;
    padding: 0.6em 0.8em;
    margin: 0;
    box-sizing: border-box;
    color: $almost-black;
    margin-bottom: 1em;
  }

  button {
    width: 100%;
  }

  .signup_link {
    padding: 1em 0;
    color: $solid-grey;
    margin-bottom: 6.85em;
    border-radius: 5px;

    p {
      text-align: center;
    }

    a {
      color: $solid-grey;
    }

  }

}