/** CSS FILE FOR KNUB.IO WEBAPP

  NAVIGATION

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-03-24

*/

.nav_wrapper {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  margin-bottom: 40px;
}

.nav {
  padding: 10px 0;
  height: 60px;

  .nav_logo {
    float: left;
    color: $primary-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    padding-top: 10px;
  }

  .nav_user {

    .nav_profile {
      position: relative;
      margin-left: 1.618em;

      img {
        height: 35px;
        margin-top: 2px;
        -moz-border-radius: 70px;
        -webkit-border-radius: 70px;
        border-radius: 70px;
      }

    }

    .nav_add {
      position: relative;
    }

    button.dropdown-toggle.btn.btn-secondary {
      font-family: $sans;
      font-weight: 500;
    }

    .dropdown {

      .dropdown-toggle {
        padding: 5px 8px 5px 2px;
        margin: 5px 5px;
      }

    }

    .dropdown-menu {
      position: absolute;
      z-index: 9999;
    }

    .dropdown-header {
      font-size: 1rem;
      line-height: 1.2em;
    }

  }

}