@import 'reset';
@import 'variables';
@import 'animations';

// Component Import
@import 'footer';
@import 'login';
@import 'signup';
@import 'progressBar';


/** CSS FILE FOR KARDS WEBAPP

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-02-01

*/


/* LAYOUT */

body {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
}

/* Grid Styles */
.container {
	width: $container-width;
	position: relative;
	margin: 0 auto;
}

/* Component Styles */
.card {
	background: #FFFFFF;
	opacity: 1.00;
	border: 1px solid #E9E9E9;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	padding: 20px;
	margin: 20px 0;
    position: relative;

}

.btn {
	border-radius: 3px;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	opacity: 1.00;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
	transition: all linear 0.2s;
	text-decoration: none;
    display: inline-block;
}
.btn-primary {
	background: $primary-color;
	color: white;
}
.btn-primary:hover {
	background: $primary-color-darker;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.btn-regular {
	background: white;
	color: $solid-grey;
	border: 1px solid #E5E5E5;
}
.btn-regular:hover {
	color: $almost-black;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
/* General Typography */
h1 {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 100%;
	color: $primary-color;
}
h2 {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	color: $solid-grey;
	opacity: 1.00;
	margin-top: 10px;
}

/* NAVIGATION */

.nav_wrapper {
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	border-radius: 3px;
}

.nav {
	padding: 10px 0;
	height: 60px;

	.nav_logo {
		float: left;
	}

	.nav_user {
		float: right;
		.userPic {
			float: left;
		}
		.signout {
			float: left;
		}

	}

}

/* CardStack */
.cardStack {
	width: 660px;
	max-width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 360px;
	.card {
		cursor: pointer;
		font-family: "Source Sans Pro";
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 125%;
		color: rgba(0, 0, 0, 0.8);
		opacity: 1.00;
		height: 320px;
		z-index: 20;
        margin: 0px;
	}
	.yup, .nope {
		position: absolute;
		padding: 10px 0px;
		width: 200px;
		text-align: center;
		top: 300px;
		border-radius: 40px;
		left: 50%;
		margin-left: -100px;
		z-index: 1;
		p {
			font-family: "Source Sans Pro";
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
			line-height: 100%;
			letter-spacing: 1.8px;
			color: #FFFFFF;
			text-transform: uppercase;
		}
	}
	.yup {
		background: $primary-color;

	}
	.nope {
		background: $solid-red;
	}
}

