@import 'reset';

/** CSS FILE FOR KARDS WEBAPP

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-02-01

*/

$container-width: 1000px;
$gutter: 20px;
$cols: 12;

// Colors
$almost-black: #333333;
$primary-color: #00BC80;
$primary-color-darker: #009767;
$solid-grey: #969696;

/* LAYOUT */

body {
  background-color: #FAFAFA;
  width: 100%;
  height: 100%;
}

/* Grid Styles */
.container {
	width: $container-width;
	position: relative;
	margin: 0 auto;
}

/* Component Styles */
.card {
	/* Rectangle */
	background: #FFFFFF;
	opacity: 1.00;
	border: 1px solid #E9E9E9;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	padding: 20px;
	margin: 20px 0;
}
.btn {
	border-radius: 3px;
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 100%;
	opacity: 1.00;
	border: 0;
	padding: 10px 20px;
	cursor: pointer;
	transition: all linear 0.2s;
	text-decoration: none;
}
.btn-primary {
	background: $primary-color;
	color: white;
}
.btn-primary:hover {
	background: $primary-color-darker;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
.btn-regular {
	background: white;
	color: $solid-grey;
	border: 1px solid #E5E5E5;
}
.btn-regular:hover {
	color: $almost-black;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}
/* General Typography */
h1 {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 100%;
	color: $primary-color;
}
h2 {
	font-family: "Source Sans Pro";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 100%;
	color: $solid-grey;
	opacity: 1.00;
	margin-top: 10px;
}

/* LOGIN */
.login {
  	width: 320px;
  	margin: 160px auto;
	text-align: center;

	input {
		width: 100%;
		-webkit-apperance: none;
		border: 0px;
		padding: 10 0px;
		font-size: 1em;
		margin:0;
		box-sizing: border-box;
		color: $almost-black;
	}

	hr {
		border: 0;
		height: 1px;
		background: #C4C4C4;
	}
	.card {
		margin: 40px 0;
	}
}

/* NAVIGATION */
.nav_wrapper {
	width: 100%;
	overflow: hidden;
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.03);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
	border-radius: 3px;
}

.nav {
	padding: 10px 0;
	height: 60px;

	.nav_logo {
		float: left;
	}

	.nav_user {
		float: right;

		.userPic {
			float: left;
		}

		.signout {
			float: left;
		}

	}

}
