/** CSS FILE FOR KARDS WEBAPP

  COLORS

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-02-01

*/

// Colors
$almost-black: #333333;
$primary-color: #00BC80;
$primary-color-darker: #009767;
$solid-grey: #969696;
$solid-red: #FF5555;

$sans: "Source Sans Pro";
