/** CSS FILE FOR KARDS WEBAPP

  COLORS

  @author: Martin Bucher, Michael Ziörjen
  @version: 2016-02-01

*/

// Colors
$almost-black: #333333;
$primary-color: #00BC80;
$primary-color-darker: #009767;
$solid-grey: #969696;
$solid-red: #FF5555;
$light-grey: #c2c2c2;

$sans: "Source Sans Pro";


$container-width: 1000px;
$gutter: 20px;
$cols: 12;
